<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>HelloWorldExtension</Name>
      <EndpointType>HelloWorldExtensionEndpoint</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Sample</Value>
        </ConfigElement>
      </SMEConfig>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>yourteamalias@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's -->
    <IcmService>Acis and Runners</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>ACIS</IcmTeam>
    <!-- Fill out the SERVICE id for your team in ServiceTree, e.g., 63abd086-1335-438e-9acf-04676a747a04 is ours -->
    <ServiceTreeServiceId>63abd086-1335-438e-9acf-04676a747a04</ServiceTreeServiceId>
  </ContactInfo>
</AcisSMEConfiguration>

